.tippny-popup{
    position: fixed;
    top: 20%;
    left: 30%;
    width: 500px;
    border: solid 1px gainsboro;
    z-index: 1000;
    background-color: ghostwhite;
}

.tippny-brand-logo-container{
    width: 100px;
}

.tippny-brand-logo{
    max-width: 100%;
}

.tippny-popup-inner{
    margin: 10px;
}

.subscribe-btn-div{
    margin-top: 5%;
}

.tippny-close{
    margin-left: 97%;
}

.tippny-logo{
    width: 25px;
}

.powered-by-div{
    margin-top: 20px;
}

.offers-div{
    text-align: center;
    margin-top: 10px;
}

.text-div{
    margin-top: 5px;
    text-align: center;
}

.tippny-brand-name {
    position: absolute;
    top: 11px;
    font-weight: bold;
    text-transform: capitalize;
}

.fb-messenger-checkbox {
    margin-left: 150px;
}

.tippny-popup-body-text {
    /* font-weight: 400; */
}